{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('post') }}" method="post" class="post">
      <dl>
        <dt>記事を投稿
        <dt>タイトル:
        <dd><input type="text" size=30 name="title">
        <dt>本文:
        <dd><textarea name="text" rows=5 cols=40></textarea>
        <dd><input type="submit" value="投稿する">
      </dl>
    </form>
    <form action="{{ url_for('delete') }}" method="post" class="delete">
      <dl>
        <dt>記事を削除
        <dt>タイトル:
        <dd><input type="text" size=30 name="title">
	<dd><input type="hidden" name="_method" value="DELETE">
        <dd><input type="submit" value="削除">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>投稿されている記事がありません</em>
  {% endfor %}
  </ul>
{% endblock %}
